/* 

use # to select a certain id
use . to select a certain class

*/

/* EXTERNAL CSS */

#external_body{
    background-color: black;
}

h1{
    color: white;
}

#p1{
    color: red;
}

#p3{
    color: red;
}

.even{
    color: rgb(0, 255, 0);
}


/* FONTS */

#font_header{
    color: black; /* removes white color from the external css part*/
    font-family: verdana, arial; /* anything after the comma is a fallback font incase the browser can't display it*/
}

/* Sizes */
#size2{
    font-size: 2em;
}

#size_normal{
    font-size: 1em;
}

#size_half{
    font-size: .5em;
}

/* Fonts */
#font1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#font2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#font3{
    font-family:'Courier New', Courier, monospace;
}

/* Weights */
#normal_weight{
    font-weight: normal;
}

#bold_weight{
    font-weight:bold;
}

/* Styles */
#normal_style{
    font-style: normal;
}
#italic_style{
    font-style: italic;
}

/*Google Fonts*/
@font-face{
    src: url(/Fonts/Satisfy-Regular.ttf);
    font-family: Satisfy-Regular;
}

@font-face{
    src: url(/Fonts/PixelifySans-VariableFont_wght.ttf);
    font-family: PixelifySans;
}


#google_pixel{
    font-family: PixelifySans;
}
#google_satisfy{
    font-family: Satisfy-Regular, cursive;
}