#main_seperate{
    width: 100vmax;
    background-color: black;
    height: 5px;
}

h1{
    
}

body{
    background-color: grey;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}